In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\koike.atuhiro\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\koike.atuhiro\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
df=pd.read_csv("csv/long.csv",nrows=5)
df

   id  num
0   1  100
1   2  200
2   3  300
3   4  400
4   5  500

In [2]:
chunks=pd.read_csv("csv/long.csv",chunksize=10)
for chunk in chunks:
    print(chunk)

   id   num
0   1   100
1   2   200
2   3   300
3   4   400
4   5   500
5   6   600
6   7   700
7   8   800
8   9   900
9  10  1000
    id   num
10  11  1100
11  12  1200
12  13  1300
13  14  1400
14  15  1500
15  16  1600
16  17  1700
17  18  1800
18  19  1900
19  20  2000
    id   num
20  21  2100
21  22  2200
22  23  2300
23  24  2400
24  25  2500
25  26  2600
26  27  2700
27  28  2800
28  29  2900
29  30  3000
    id   num
30  31  3100
31  32  3200
32  33  3300
33  34  3400
34  35  3500
35  36  3600
36  37  3700
37  38  3800
38  39  3900
39  40  4000
    id   num
40  41  4100
41  42  4200
42  43  4300
43  44  4400
44  45  4500
45  46  4600
46  47  4700
47  48  4800
48  49  4900
49  50  5000
    id   num
50  51  5100
51  52  5200
52  53  5300
53  54  5400
54  55  5500
55  56  5600
56  57  5700
57  58  5800
58  59  5900
59  60  6000
    id   num
60  61  6100
61  62  6200
62  63  6300
63  64  6400
64  65  6500
65  66  6600
66  67  6700
67  68  6800
68  69  6900
69  70  7000
    id   num
70  71  7100
71  72  7200
72  73  7300
73  74  7400
74  75  7500
75  76  7600
76  77  7700
77  78  7800
78  79  7900
79  80  8000
    id   num
80  81  8100
81  82  8200
82  83  8300
83  84  8400
84  85  8500
85  86  8600
86  87  8700
87  88  8800
88  89  8900
89  90  9000
     id    num
90   91   9100
91   92   9200
92   93   9300
93   94   9400
94   95   9500
95   96   9600
96   97   9700
97   98   9800
98   99   9900
99  100  10000

In [3]:
chunks = pd.read_csv("csv/long.csv", chunksize=10)
for chunk in chunks:
    print(chunk["num"].mean())

550.0
1550.0
2550.0
3550.0
4550.0
5550.0
6550.0
7550.0
8550.0
9550.0