In [ ]:
!pip install pandas

In [1]:
import pandas as pd
students5=pd.read_csv("csv/sample5.csv",skiprows=[2,5])
students5

         name language  age
0   kirishima     ruby   15
1    rokumura   python   16
2  midorikawa        c   16

In [2]:
students6=pd.read_csv("csv/sample6.csv",comment="#")
students6

         name language  age
0   kirishima     ruby   15
1       dummy     fake  999
2    rokumura   python   16
3  midorikawa        c   16
4       dummy     fake  999

In [3]:
students7=pd.read_csv("csv/sample.csv",converters={"name":lambda s:s.capitalize()})
students7

         name language  age
0   Kirishima     ruby   15
1    Rokumura   python   16
2  Midorikawa        c   16